# Don't try to store Excel files or backups 
*.xlsx
*.xls
*~
*.swp
fitbitScraper
*.pdf
*.sqlite
*.zip
.DS_Store
*.numbers
*.sxc
.Rproj.user
mfp_report*
mistrech.txt
nutridb-database-sr25.sql
sharon.txt
stretching.txt
76F8C000
calibrate_modal_split.rscr
mfp_report*.*
*.out
*.html
fitbit_data.csv
fitbit_data_20150131.csv
weightData.dat
weight_bp_data.csv
fitbit_charge_hr_chargiing_record.md
myFitnessPalData.dat
